
<div class="next-to">
  <div class="superman-picture">
  </div>
  <%#= simple_form_for([@life, @booking]) do |f|%>
  <div class="form-group text-center">
    <%= simple_form_for([@life, @booking]) do |f|%>
      <div class="row">
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
      </div>
      <div class="row">
        <%= f.label :end_date %>
        <%= f.date_field :end_date%>
      </div>
      <div class="row justify-content-center">
        <%#= f.button :submit , "Book now", id: "home-btn"%>
        <%= f.button :submit , "Book Now", class:"white-text bookings-new-btn"%>
      </div>
    <% end %>
  </div>
  <%# end %>
</div>

